@keyframes fadein-boot { from { opacity:0; } to { opacity:1; } }

body{ background-color: #f5f5f5; }

header
{   // <header> and SNS bar
    $header_text: #CEF;

    height:90vh;
    background:linear-gradient(45deg, blue, aqua);
    display: grid;
    h1
    {
        color:$header_text;
        text-align: center;
        animation: 1s fadein-boot;
    }
    #nav_sns
    {
        margin:1rem 0;
        animation: 2s fadein-boot;
        li
        {
            display:inline-block;
            margin-right:1rem;
            a
            {
                color:$header_text;
                transition: color 0.2s ease;
                &:hover
                {
                    color:#A00;
                    transition: color 0.2s linear;
                }
                i { font-size:3rem; }
            }
        }
    }
    & > div
    {
        margin: auto;
    }
}

div.nav-arrow
{   // The guide arrow under <header>
    height: 10vh;
    display: flex;
    align-items:center;
    justify-content:center;
}

main
{
    margin: 0 auto;
    max-width: 960px;
    h2
    {
        padding-left: 1rem;
    }
    article
    {
        padding:1rem;
        &:first-child
        {
            padding-top: 2rem;
        }
        &.wrapper
        {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    *[v-cloak]
    {
        display: none;
        .cube
        {
            display: block;
            width:5rem;
            height:5rem;
            background-color: aqua;
            margin: 0 auto;
            animation:spin 2s linear infinite;
        }
    }
}

footer
{
    padding:1rem;
    background-color:blue;
    *
    {
        color:white;
        padding:0;
        margin:0;
    }
}
#myworks_app .col
{
    padding:1rem;
}
// http://devtoolschallenger.com/

@keyframes spin { 100% { transform:rotate(360deg); } }